body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.card {
  
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 16%;
  margin-left: 20%;
  max-width: 50%;
  text-align: center;
  justify-content: center;
}


.card p {
  text-align: center;
  margin: 1em;
}

.card b {
  text-align: end;
  margin: 1em;
}
